<?xml version="1.0"?>
<robot name="bottle">
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="bottle.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="bottle.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <inertia ixx="0.0041667" ixy="0.0" ixz="0.0" iyy="0.0041667" iyz="0.0" izz="0.0020833"/>
            <origin xyz="0 0 0"/>
        </inertial>
    </link>
</robot>